.container {
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 10;
    font-family: 'OTWelcomeRA';
}

.container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background: var(--color-quarterCircle);
    border-radius: 50%;
    z-index: 4;
}

.left-panel {
    position: relative;
    width: 50%;
    margin: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right-panel {
    position: relative;
    width: 50%;
    margin: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    right: 0;
    width: 70%;
}

.userForm {
    border: solid var(--color-middle-gray);
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

#nav {
    width: 100%;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    background-color: var(--color-bright-gray);
}

#nav .nav-item,
#nav .nav,
#nav .nav-tabs,
#nav .nav-fill,
#nav a.nav-link.active,
#nav .nav-link.active,
#nav .nav-link {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
}

#nav .nav-link {
    color: var(--color-dark-gray);
}

#nav .nav-tabs,
#nav .nav-lin {
    border: none;
}

.accessTitle {
    display: flex;
    align-content: center;
    align-items: flex-end;
    margin-top: 10px;
    padding: 0;
    font-family: "YUniverse-B";
    font-weight: 900;
}


.accessTitle img {
    margin-right: 10px;
}

/* 추가 */
summary {
    cursor: pointer;
}


.input-field {
    max-width: 380px;
    width: 100%;
    background-color: var(--color-bright-gray);
    margin: 0 0 15px 0;
    height: 55px;
    border-radius: 30px;
    padding: 0 0.4rem;
    position: relative;
    display: flex;
    align-items: center;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: var(--color-middle-gray);
    transition: 0.5s;
    font-size: 1.1rem;
    padding: 0 20px;
}


.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-dark-gray);
    width: 70%;
}

.input-field button {
    background-color: var(--color-middle-gray);
    border: none;
    outline: none;
    border-radius: 49px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 15px;
}

.SignInBtn {
    width: 150px;
    background-color: var(--color-quarter);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 15px 0;
    cursor: pointer;
    z-index: 11;
}

.moveSignPage button {
    background-color: transparent;
    border: none;
    padding: 0 10px;
    color: var(--color-middle-gray);
}

.admin {
    color: #9b4346;
}


.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 70%;
    color: #999999;
}

.filebox label,
.certEmail {
    background-color: var(--color-middle-gray);
    border: none;
    outline: none;
    border-radius: 49px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 15px;
    height: 24.5px;
    text-align: center;
    padding: 1px 6px;
    width: 60px;
}

.certEmail input[name="email"] {
    width: 75%;
}

input[name="major"] {
    width: 78%;
}


.filebox input[type="file"] {
    position: absolute;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

div .checkbox-form {
    display: flex;
    position: relative;
    align-items: baseline;
    left: 20px;
    border-radius: 0.25em;
}

.input-field input[type=password] {
    font-family: 'Malgun gothic', dotum, sans-serif;
}