.accessContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    z-index: 10;
    /* font-family: 'OTWelcomeRA'; */
    // font-family: "Work Sans";
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: var(--color-white);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.left-panel {
    position: relative;
    width: 50%;
    margin: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right-panel {
    position: relative;
    width: 50%;
    margin: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    right: 0;
    width: 70%;
}

.userForm {
    border: solid var(--color-middle-gray);
    background: var(--color-white);
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    margin-top: 50px;
}

#nav {
    width: 100%;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    background-color: var(--color-bright-gray);
}

#nav .nav-item,
#nav .nav,
#nav .nav-tabs,
#nav .nav-fill,
#nav a.nav-link.active,
#nav .nav-link.active,
#nav .nav-link {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
}

#nav .nav-link {
    color: var(--color-dark-gray);
}

#nav .nav-tabs,
#nav .nav-lin {
    border: none;
}

.accessTitle {
    display: flex;
    align-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0;
    // font-family: "YUniverse-B";
    font-weight: 600;
}


.accessTitle img {
    margin-right: 10px;
}

summary {
    cursor: pointer;
}


.input-field {
    max-width: 380px;
    width: 100%;
    background-color: var(--color-bright-gray);
    margin: 0 0 15px 0;
    height: 55px;
    border-radius: 30px;
    padding: 0 0.4rem;
    position: relative;
    display: flex;
    align-items: center;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: var(--color-middle-gray);
    transition: 0.5s;
    font-size: 1.1rem;
    padding: 0 20px;
}


.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-dark-gray);
    width: 70%;
}

.input-field button {
    background-color: var(--color-middle-gray);
    border: none;
    outline: none;
    border-radius: 49px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 15px;
}

.SignInBtn {
    width: 150px;
    background-color: var(--color-quarter);
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 15px 0;
    cursor: pointer;
    z-index: 11;
}

.moveSignPage {
    margin-bottom: 50px;
}

.moveSignPage button {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    color: var(--color-middle-gray);
}

.admin {
    color: #9b4346;
}


.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 70%;
    color: #999999;
}

.filebox label,
.certEmail {
    background-color: var(--color-middle-gray);
    border: none;
    outline: none;
    border-radius: 49px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 15px;
    height: 24.5px;
    text-align: center;
    padding: 1px 6px;
    width: 60px;
}

.certEmail input[name="email"] {
    width: 75%;
}

input[name="major"] {
    width: 78%;
}


.filebox input[type="file"] {
    position: absolute;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

div .checkbox-form {
    display: flex;
    position: relative;
    align-items: baseline;
    left: 20px;
    border-radius: 0.25em;
}

.input-field input[type=password] {
    /* font-family: 'Malgun gothic', dotum, sans-serif; */
    // font-family: "Work Sans";
    font-weight: bold;
}

.accessContainer .findPasswordContext {
    margin-bottom: 10px;
    width: 80%;
}


.box {
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: var(--color-white);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.wave {
    position: absolute;
    width: 75vw;
    height: 75vw;
    margin-left: -250px;
    margin-top: -100px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    z-index: -20;
    animation: drift 9000ms infinite linear;
    // background-color: red;
    opacity: .6;
    background: var(--color-quarter);
}

.wave.-three {
    animation: drift 13000ms infinite linear;
    opacity: .6;
    background: var(--color-leftPanel);

}

.wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .4;
    background: var(--color-quarterCircle);
}


.title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    line-height: 300px;
    text-align: center;
    transform: translate3d(0, 0, 0);
    color: white;
    text-transform: uppercase;
    //font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 24px;
    text-shadow: 0 1px 0 rgba(black, .1);
    text-indent: .3em;
}

.PKSCLMainLogo {
    color: black !important;
}

.PKSCLMainLogo img {
    width: 80px;
    height: 80px;
}

.PKSCLMainLogo span {
    font-size: 50px;
}

.tracking-in-expand {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}


@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

.PKSCLInfoButton {
    position: fixed;
    right: 3vh;
    bottom: 3vh;
    box-shadow: none;
    border: 4px solid var(--color-leftPanel);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--color-leftPanel);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PKSCLInfoButton i {
    font-size: 20px !important;
}

.PKSCLInfoButton:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}



@media (hover: none) and (pointer: coarse) {

    .accessContainer .findPasswordContext {
        width: 60vw;
    }

    .PKSCLInfoButton {
        display: none;
    }

    .wave {
        display: none;
    }

    .accessContainer {
        width: 100%;
        min-height: 100vh;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        background-color: var(--color-background);
    }


    .accessContainer {
        -webkit-animation: color-change-3x 15s linear infinite alternate both;
        animation: color-change-3x 15s linear infinite alternate both;
    }


    @keyframes color-change-3x {
        0% {
            background: var(--color-background);
        }

        50% {
            background: var(--color-leftPanel);
        }

        100% {
            background: var(--color-quarterCircle);
        }
    }

    .accessContainer .moveSignPage button {
        color: black;
    }



    .accessContainer .left-panel {
        width: 100%;
    }

    .accessTitle img {
        display: none;
    }

    .PKSCLMainLogo {
        margin-top: 10%;
    }

    .PKSCLMainLogo img {
        width: 50px;
        height: 50px;
    }

    .PKSCLMainLogo span {
        font-size: 30px;
    }

    .image {
        display: none;
    }

    .userForm {
        width: 80vw;
        margin-top: 0;
    }

    .accessContainer .content {
        margin-bottom: 2vh;
    }

    .accessContainer .right-panel {
        margin-top: 0 !important;
    }

    .accessContainer .input-field {
        width: 80%;
        height: 40px;
    }

    .input-field input {
        font-size: 0.8rem;
        width: 100%;
    }

    .input-field i {
        font-size: 0.8rem;
        padding: 0 10px;
    }

    .moveSignPage {
        display: flex;
        font-size: 0.8rem;
        margin-bottom: 10%;
    }

    .SignInBtn {
        width: 100px;
        height: 30px;
        font-size: 0.8rem;
    }
}

.logoMain {
    display: flex;
    flex-direction: column;

}

.giraffe:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}