@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');

:root {
    /* basic color*/
    --color-white: #fff;
    --color-bright-gray: #f0f0f0;
    --color-dark-gray: #333;
    --color-middle-gray: #acacac;
    --color-brown: rgb(162, 108, 77);
    /* table color*/
    --color-tableEven: rgb(255, 255, 255);
    --color-tableOdd: rgb(251, 250, 250);
    /* annimation */
    --animation-duration: 300ms;
}


body {
    /* font-family: "OTWelcomeRA"; */
    font-family: 'Work Sans';
    font-weight: bold;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

button:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

button {
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px gray;
}

input {
    line-height: normal;
    /* font-family: 'Malgun gothic', sans-serif !important; */
    /* font-family: "Work Sans"; */
    font-weight: bold;
}

.receiptImg:hover {
    cursor: pointer;
}

.giraffe:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

i:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.errorGiraffe {
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}

.tempAlert {
    margin-right: 20px;
}

.PksclNav {
    margin-left: 5px;
    font-size: 20px;
    /* font-family: "Work Sans"; */
    font-weight: bold;
}

.mobileVersion {
    display: none !important;
}

.PCVersion {
    display: block;
}

@media (hover: hover) and (pointer: fine) and (max-width: 1200px) {

    .majorCard {
        display: none !important;
    }

    .remotePanelBox {
        display: none !important;
    }

    .leftPanel {
        min-width: 20vw !important;
    }

    .quarterDateNav {
        display: none !important;
    }

    .EditMainPageContainer .leftPanel {
        display: none !important;
    }

    .MainPageContainer .mainSearchBar {
        display: none !important;
    }

}

@media (hover: hover) and (pointer: fine) and (max-width: 800px) {

    .leftPanel {
        display: none !important;
    }

    .MainPageContainer {
        justify-content: center !important;
    }

    .quarterData {
        margin-right: 0 !important;
    }

    .MainPageContainer .dateInput {
        display: none !important;
    }
}


@media (hover: none) and (pointer: coarse) {
    .mobileVersion {
        display: block !important;
    }

    .PCVersion {
        display: none;
    }
}