.MainPageContainer {
    font-family: "OTWelcomeRA";
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.leftPanel {
    width: 35%;
    height: 100vh;
    background-color: var(--color-leftPanel);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    position: fixed;
    left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.majorCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    margin-left: 50px;
}

.presidentCard {
    background-color: var(--color-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px gray;
}

.presidentCard img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cogExplanation {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px gray;
}

.quarter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.quarterButton div:hover,
.quarterButton:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.quarterButton {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    position: relative;
}

.quarterButton img {
    padding: 0;
    height: 100px;
    width: 100px;
    filter: drop-shadow(3px 5px 3px gray);
}

.quarterButton div {
    z-index: 20;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    height: 100px;
    width: 100px;
    line-height: 100px;
    color: white;
}

.fa-chevron-right {
    cursor: pointer;
}

.managementPageBar {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.managementPageBar:hover {
    transition: 0.5s;
    transform: scale(1.5);
}

.rightPanel {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.nav {
    top: 0;
    width: 100%;
    justify-content: flex-end;
}

.majorList {
    height: 50px;
}

.dateInput {
    height: 32px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    background-color: var(--color-white);
    margin-left: 20px;
    box-shadow: 1px 1px 5px 0px gray;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 15px;
    border: none;
    width: 300px;
    caret-color: black;
}

.mainSearchBar {
    height: 32px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    background-color: var(--color-white);
    margin-left: 20px;
    box-shadow: 1px 1px 5px 0px gray;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 15px;
}

.mainSearchBar input {
    border: none;
    width: 300px;
    caret-color: black;
    height: auto;
}

.mainSearchBar input:focus {
    outline-color: var(--color-leftPanel);
    caret-color: black;
    background-color: none;
}

.mainSearchBar input[type=text]:-ms-clear {
    display: none;
}

.eventButtons {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.submitButton {
    background-color: var(--color-quarter);
    border: none;
    outline: none;
    color: var(--color-white);
    width: 100px;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
    margin: 15px 10px;
    transition: 0.5s;
}


.quarterData {
    margin-top: 30px;
    width: 700px;
    margin-right: 100px;
}

.eventTitle {
    border-left: 9px solid var(--color-quarter);
    display: flex;
    width: 650px;
    margin: 10px 0;
    justify-content: space-between;
}

.eventTitle div,
.eventTitle h4 {
    margin-left: 10px;
    text-align: left;
}

.eventTitle button {
    width: 120px;
    background-color: var(--color-leftPanel);
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: var(--color-quarter);
    margin: 0 0 15px 0;
}

.eventTitle div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eventCard {
    margin-top: 30px;
    display: flex;
    box-shadow: 1px 1px 10px 0px gray;
    margin-bottom: 60px;
}

.quarterTotalAmount {
    color: var(--color-quarter);
}

.cardContent {
    display: flex;
    margin: 10px 30px;
    width: 500px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}

#receiptContent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardContent h4,
.cardContent h5 {
    color: var(--color-quarter);
}

.receiptTitle {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.receiptTitle div {
    color: var(--color-quarter);
}

#receiptContent table {
    margin: 10px 0;
    width: 400px;
    height: 240px;
}

.receiptTable thead {
    display: block;
}

.receiptTable tbody {
    display: block;
    overflow-y: auto;
    height: 220px;
    width: fit-content;
}

.receiptTable tbody::-webkit-scrollbar {
    width: 8px;
}

.receiptTable tbody::-webkit-scrollbar-track-piece {
    background-color: var(--color-tableOdd);
    border-radius: 100px;
    width: 10px;
}

.receiptTable tbody::-webkit-scrollbar-thumb {
    background-color: var(--color-quarter);
    border-radius: 100px;
}

.receiptTable tbody::-webkit-scrollbar-track-piece:end {
    background-color: none;
    margin-bottom: 20px;
}

.receiptTable tr {
    height: 40px;
}

#receiptContent th {
    background-color: var(--color-quarter);
    color: var(--color-white);
    width: 100px;
}

#receiptContent tr:nth-child(even) {
    background-color: var(--color-tableEven);
}

#receiptContent tr:nth-child(odd) {
    background-color: var(--color-tableOdd);
}

#receiptContent td {
    width: 100px;
}

.receiptCard {
    border-top: 2px solid var(--color-quarter);
    padding-top: 10px;
    display: flex;
    margin: 0 0 30px 0;
    padding: 30px 0 0 0;
}

.receiptResource {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.receiptCard img {
    display: inline-block;
    width: 220px;
    height: 330px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 30px;
}

/* .cardImg .pagenation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.cardImg .pagenationItem {
    color: var(--color-quarter);
} */