.EditMainPageContainer {
    /* font-family: "OTWelcomeRA"; */
    font-family: "Work Sans";
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
}

.EditMainPageContainer .leftPanel {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
    left: 0;
    min-width: 20vw;
    padding: 0;
    position: fixed;
    z-index: 0;
    background-color: transparent !important;
    box-shadow: 1px 1px 5px 0 transparent;
}

.EditMainPageContainer .quarter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.EditMainPageContainer .quarterButton div:hover,
.EditMainPageContainer .quarterButton:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.EditMainPageContainer .quarterButton {
    width: 18vh;
    height: 18vh;
    margin: 10px auto;
    position: relative;
}

.EditMainPageContainer .quarterButton img {
    padding: 0;
    width: 18vh;
    height: 18vh;
    filter: drop-shadow(3px 5px 3px gray);
}

.EditMainPageContainer .quarterButton div {
    z-index: 20;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    width: 18vh;
    height: 18vh;
    line-height: 18vh;
    color: white;
}

.EditMainPageContainer .fa-chevron-right {
    cursor: pointer;
}

.EditMainPageContainer .managementPageBar {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.EditMainPageContainer .managementPageBar:hover {
    transition: 0.5s;
    transform: scale(1.5);
}

.EditMainPageContainer .rightPanel {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.EditMainPageContainer .nav {
    top: 0;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    height: 20px;
}

.EditMainPageContainer .majorList {
    height: 50px;
}

.EditMainPageContainer .dateInput {
    height: 32px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    background-color: var(--color-white);
    margin-left: 20px;
    box-shadow: 1px 1px 5px 0px gray;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 15px;
    border: none;
    width: 200px;
    caret-color: black;
}

.EditMainPageContainer .mainSearchBar {
    height: 32px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    background-color: var(--color-white);
    margin-left: 20px;
    box-shadow: 1px 1px 5px 0px gray;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 15px;
}

.EditMainPageContainer .mainSearchBar input {
    border: none;
    width: 300px;
    caret-color: black;
    height: auto;
}

.EditMainPageContainer .mainSearchBar input:focus {
    outline-color: var(--color-leftPanel);
    caret-color: black;
    background-color: none;
}

.EditMainPageContainer .mainSearchBar input[type=text]:-ms-clear {
    display: none;
}

.EditMainPageContainer .eventButtons {
    display: flex;
    flex-direction: row !important;
    align-items: flex-start;
}

.EditMainPageContainer .eventButtons i {
    color: var(--color-quarter);
    font-size: 20px;
}

.EditMainPageContainer .buttons {
    align-items: center;
    display: flex;
    height: 8vh;
    background: rgb(255 255 255 / 90%);
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    z-index: 1;
    justify-content: space-around;
    box-shadow: 1px 1px 1px 0 rgb(207 206 206);
}

.EditMainPageContainer .submitButton {
    background-color: var(--color-quarter);
    border: none;
    outline: none;
    color: var(--color-white);
    width: 100px;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
    margin: 15px 10px;
    transition: 0.5s;
}


.EditMainPageContainer .quarterData {
    margin-top: 100px;
    width: 700px;
    margin-right: 0;
}

.EditMainPageContainer .eventTitle {
    display: flex !important;
    width: 200px;
    margin: 10px 0;
    flex-direction: column !important;
    justify-content: space-between;
    color: var(--color-quarter);
}

.EditMainPageContainer .eventSource {
    border-left: 9px solid var(--color-quarter);
    display: flex;
    width: 650px;
    margin: 10px 0;
    justify-content: space-between;
}

.EditMainPageContainer .eventSource div,
.EditMainPageContainer .eventSource h4 {
    margin-left: 10px;
    text-align: left;
    width: 100%;
}


.EditMainPageContainer .eventSource button {
    width: 50px;
    background-color: var(--color-leftPanel);
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: var(--color-quarter);
    margin: 0 0 15px 0;
}

.EditMainPageContainer .eventSource div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.EditMainPageContainer .eventCard {
    margin-top: 30px;
    display: flex;
    box-shadow: 1px 1px 10px 0px gray;
    margin-bottom: 60px;
    background-color: white;
    border-radius: 20px;
}

.EditMainPageContainer .quarterTotalAmount {
    color: var(--color-quarter);
}

.EditMainPageContainer .cardContent {
    display: flex;
    margin: 10px 30px;
    width: 500px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}

.EditMainPageContainer #receiptContent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.EditMainPageContainer .cardContent h4,
.EditMainPageContainer .cardContent h5 {
    color: var(--color-quarter);
}

.EditMainPageContainer .receiptTitle {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* border-left: 9px solid var(--color-quarter); */
    flex-direction: column;

}

.EditMainPageContainer .receiptTitle div {
    color: var(--color-quarter);
}

.EditMainPageContainer #receiptContent table {
    margin: 5px 0;
    width: 400px;
    height: 240px;
}

.EditMainPageContainer .receiptTable thead {
    display: block;
}

.EditMainPageContainer .receiptTable tbody {
    display: block;
    overflow-y: auto;
    height: 180px;
    width: fit-content;

}

.EditMainPageContainer .receiptTable tbody::-webkit-scrollbar {
    width: 8px;
}

.EditMainPageContainer .receiptTable tbody::-webkit-scrollbar-track-piece {
    background-color: var(--color-tableOdd);
    border-radius: 100px;
    width: 10px;
}

.EditMainPageContainer .receiptTable tbody::-webkit-scrollbar-thumb {
    background-color: var(--color-quarter);
    border-radius: 100px;
}

.EditMainPageContainer .receiptTable tbody::-webkit-scrollbar-track-piece:end {
    background-color: none;
}

.EditMainPageContainer .receiptTable tr {
    height: 40px;
}

.EditMainPageContainer #receiptContent th {
    background-color: var(--color-quarter);
    color: var(--color-white);
    width: 100px;
}

.EditMainPageContainer #receiptContent tr:nth-child(even) {
    background-color: var(--color-tableEven);
}

.EditMainPageContainer #receiptContent tr:nth-child(odd) {
    background-color: var(--color-tableOdd);
}

.EditMainPageContainer #receiptContent td,
.EditMainPageContainer #receiptContent input {
    width: 100px;
    border-bottom: 2px solid var(--color-quarter);

}


.EditMainPageContainer .receiptCard {
    border-top: 2px solid var(--color-quarter);
    padding-top: 10px;
    display: flex;
    margin: 0 0 10px 0;
    padding: 30px 0 0 0;
    width: 650px;
}

.EditMainPageContainer .receiptResource {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.EditMainPageContainer .receiptCard img {
    display: inline-block;
    width: 220px;
    height: 330px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 30px;
}

/* .cardImg .pagenation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.cardImg .pagenationItem {
    color: var(--color-quarter);
} */

.EditMainPageContainer .remotePanel {
    width: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10%;
    padding: 0;
    position: fixed;
    right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: flex-end;
}

.EditMainPageContainer .editButton {
    width: 50px;
    background-color: var(--color-leftPanel);
    border: none;
    outline: none;
    height: 35px;
    border-radius: 49px;
    color: var(--color-quarter);
    margin: 0 0 15px 0
}

.EditMainPageContainer .remotePanelBox {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 grey;
    margin-right: 80px;
    padding: 20px;
    width: 250px;
}

.sortTable {
    cursor: pointer;
}

.sortTable div:hover {
    transition: 0.5s;
    transform: scale(1.05);
}