@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {
  /* color */
    /* basic */
    --color-white : #fff;
    --color-bright-gray : #f0f0f0;
    --color-dark-gray : #333;
    --color-middle-gray : #acacac;
    --color-brown: rgb(162,108,77);
    /* table */
    --color-tableEven: rgb(255,255,255);
    --color-tableOdd: rgb(251,250,250);
    /* spring */
    --color-spring: #c89034;
    --color-bright-spring: rgb(247,235,217);
    /* summer */
    --color-summer: #578e5a;
    /* fall */
    --color-fall: #9b4346;
    /* winter */
    --color-winter: #597082;
  /* annimation */
  --animation-duration: 300ms;
}


body{
  font-family: 'Nanum Gothic', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: scroll; 
}

button:hover{
  transition: 0.5s;
  transform: scale(1.05);
}

button{
  background: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer
}