.MainPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.leftPanel {
    width: 30%;
    height: 100vh;
    background-color: var(--color-leftPanel);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    position: fixed;
    left: 0;
}

.majorCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    margin-left: 50px;
}

.presidentCard {
    background-color: rgb(255 245 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-top: 20px;
}

.presidentCard img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cogExplanation {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-white);
}

.quarter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.quarter img:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

.quarter img {
    padding: 0;
    height: 100px;
    width: 100px;
    margin: 20px 0;
}

.managementPageBar {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.managementPageBar:hover {
    transition: 0.5s;
    transform: scale(1.5);
}

.rightPanel {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
}

.nav {
    top: 0;
    width: 100%;
    justify-content: flex-end;
}


.buttons {
    display: flex;
    justify-content: flex-end;
}

.submitButton {
    background-color: var(--color-quarter);
    border: none;
    outline: none;
    color: var(--color-white);
    width: 100px;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
    margin: 15px 10px;
    transition: 0.5s;
}

.quarterData {
    margin-top: 30px;
    width: 700px;
}

.eventCard {
    margin-top: 20px;
    display: flex;
    height: 400px;
    box-shadow: 1px 1px 10px 0px gray;
}

.quarterTotalAmount {
    color: var(--color-quarter);
}

.cardContent {
    display: flex;
    margin: 10px 30px;
    width: 500px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}

.receiptContent {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardContent h4,
.cardContent h5 {
    color: var(--color-quarter);
}

.receiptContent table {
    margin: 10px 0;
    width: 400px;
    height: 240px;
}

.receiptTable thead {
    display: block;
}

.receiptTable tbody {
    display: block;
    overflow: auto;
    height: 190px;
}

.receiptContent tr {
    height: 40px;
}

.receiptContent th {
    background-color: var(--color-quarter);
    color: var(--color-white);
    width: 100px;
}

.receiptContent tr:nth-child(even) {
    background-color: var(--color-tableEven);
}

.receiptContent tr:nth-child(odd) {
    background-color: var(--color-tableOdd);
}

.receiptContent td {
    width: 100px;
}

.cardImg img {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
    width: 220px;
    height: 330px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
}

.cardImg .pagenation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.cardImg .pagenationItem {
    color: var(--color-brown);
}